<div class="karte">
  <div
    #flaeche
    appKartenObjekte
    class="karte__flaeche"
    role="region"
    [attr.aria-label]="'karte.beschriftung' | t"
  ></div>

  @if (!nurFlaeche()) {
    @if (!eintragen.dunkel() && zustand.objekt() === null) {
      <div class="karte__knoepfe">
        <app-floating-button
          icon="ebenen"
          [beschriftung]="'ebenenKnopf.titel' | t"
          [variante]="ebenenOffen() ? 'primaer' : 'hell'"
          (klick)="ebenenOffen.set(!ebenenOffen())"
        />
        <app-floating-button icon="ort" [beschriftung]="'karte.standort' | t" (klick)="zumStandort()" />
        @if (!eintragen.laeuft()) {
          <app-floating-button
            icon="plus"
            variante="primaer"
            [beschriftung]="'eintragen.knopf' | t"
            (klick)="eintragenOeffnen()"
          />
        }
      </div>
    }

    <app-objekt-blatt />
    <app-eintragen />

    @if (!ueberlagert()) {
      <div class="karte__blatt">
        <app-sheet
          [beschriftung]="'karte.blatt' | t"
          [raste]="zustand.raste()"
          [spalte]="breit()"
          (rasteChange)="setzeRaste($event)"
        >
          <app-sheet-head
            [titel]="kopfTitel()"
            [titelAlsLink]="!zeigtEbene()"
            [woche]="wochenText()"
            [hinweis]="prognoseHinweis()"
            (titelKlick)="zuDenArten()"
            (zurueck)="schritt(-1)"
            (abspielen)="spielen()"
            (vor)="schritt(1)"
          >
            <app-timeline
              [wochen]="leiste()"
              [aktiv]="woche()"
              [gedaempft]="festeEbene()"
              [beschriftung]="'zeitleiste.beschriftung' | t"
              (auswahl)="waehleWoche($event)"
            />
            @if (ebenenHinweis()) {
              <app-note variante="unter">{{ ebenenHinweis() }}</app-note>
            }
          </app-sheet-head>

          <div class="karte__inhalt">
            <app-segmented
              [optionen]="darstellungen()"
              [wert]="zustand.darstellung()"
              [beschriftung]="'darstellung.beschriftung' | t"
              (wertChange)="setzeDarstellung($event)"
            />

            @switch (zustand.darstellung()) {
              @case ('vorhersage') {
                <app-ramp [beschriftung]="rampenTitel()" [von]="rampeVon()" [bis]="rampeBis()" />
              }
              @case ('ebene') {
                @if (ebene(); as gewaehlt) {
                  <app-ramp [beschriftung]="rampenTitel()" [von]="rampeVon()" [bis]="rampeBis()" />
                  <app-ebenen-liste
                    [ebenen]="alleEbenen()"
                    [gewaehlt]="gewaehlt.id"
                    [beschriftung]="'ebene.beschriftung' | t"
                    (auswahl)="waehleEbene($event)"
                  />
                } @else {
                  <app-note>{{ 'ebene.keine' | t }}</app-note>
                }
              }
              @case ('kombination') {
                @if (zustand.regel() === 'abgestuft') {
                  <app-ramp [beschriftung]="rampenTitel()" [von]="rampeVon()" [bis]="rampeBis()" />
                }
                <app-kombination
                  [faktoren]="zustand.faktoren()"
                  [quellen]="faktorQuellen()"
                  [regel]="zustand.regel()"
                  [wochenText]="wochenText()"
                  (regelChange)="setzeRegel($event)"
                  (aktivChange)="schalteFaktor($event)"
                  (faktorOeffnen)="oeffneFaktor($event)"
                  (hinzufuegen)="waehltFaktor.set(true)"
                />
              }
            }
          </div>
        </app-sheet>
      </div>
    }

    @if (offenerFaktor(); as faktor) {
      @if (faktorEbene(); as quelle) {
        <button
          class="karte__schleier"
          type="button"
          [attr.aria-label]="'faktor.abbrechen' | t"
          (click)="offenerFaktor.set(null)"
        ></button>
        <div class="karte__blatt karte__blatt--ebenen">
          <app-faktor-blatt
            [faktor]="faktor"
            [ebene]="quelle"
            [histogramm]="faktorHistogramm()"
            [zeitbezug]="faktorZeitbezug()"
            (uebernehmen)="uebernimmFaktor($event)"
            (entfernen)="entferneFaktor($event)"
            (schliessen)="offenerFaktor.set(null)"
          />
        </div>
      }
    }

    @if (waehltFaktor()) {
      <button
        class="karte__schleier"
        type="button"
        [attr.aria-label]="'faktor.abbrechen' | t"
        (click)="waehltFaktor.set(false)"
      ></button>
      <div class="karte__blatt karte__blatt--ebenen">
        <app-faktor-waehlen
          [ebenen]="alleEbenen()"
          [arten]="artenAlsEbenen()"
          [vergeben]="vergebeneQuellen()"
          (auswahl)="waehleQuelle($event)"
          (schliessen)="waehltFaktor.set(false)"
        />
      </div>
    }

    @if (ebenenOffen()) {
      <button
        class="karte__schleier"
        type="button"
        [attr.aria-label]="'ebenenKnopf.schliessen' | t"
        (click)="ebenenOffen.set(false)"
      ></button>
      <div class="karte__blatt karte__blatt--ebenen">
        <app-ebenen-blatt
          [hintergrund]="zustand.hintergrund()"
          [deckkraft]="zustand.deckkraft()"
          [zeigtEbene]="zeigtEbene()"
          [vorhersageDarunter]="zustand.vorhersageDarunter()"
          [zeigeMarker]="zustand.zeigeMarker()"
          [zeigeZonen]="zustand.zeigeZonen()"
          [zeigeGeteilteFunde]="zustand.zeigeGeteilteFunde()"
          (hintergrundChange)="zustand.setzeHintergrund($event)"
          (deckkraftChange)="setzeDeckkraft($event)"
          (vorhersageDarunterChange)="zustand.vorhersageDarunter.set($event)"
          (zeigeMarkerChange)="zustand.zeigeMarker.set($event)"
          (zeigeZonenChange)="zustand.zeigeZonen.set($event)"
          (zeigeGeteilteFundeChange)="zustand.zeigeGeteilteFunde.set($event)"
          (schliessen)="ebenenOffen.set(false)"
        />
      </div>
    }
  }
</div>
