@if (zustand.laeuft()) {
  <div class="eintragen">
    @if (zustand.dunkel()) {
      <div class="eintragen__schleier"></div>
    }
    @if (zustand.zeigtFadenkreuz()) {
      <div class="eintragen__kreuz" [style.inset-block-end.px]="ueberlagerung()">
        <app-crosshair [beschriftung]="'fadenkreuz.beschriftung' | t" />
      </div>
    }
    @switch (zustand.schritt()) {
      @case ('aktionen') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'eintragen.blatt' | t"
          [rasten]="rastenInhalt"
          [modal]="true"
        >
          <app-action-sheet [titel]="'eintragen.titel' | t">
            <app-action-row
              icon="funde"
              [titel]="'eintragen.fund' | t"
              [unter]="'eintragen.fundUnter' | t"
              (auswahl)="beginneFund()"
            />
            <app-action-row
              icon="ort"
              [titel]="'eintragen.marker' | t"
              [unter]="'eintragen.markerUnter' | t"
              (auswahl)="beginneMarker()"
            />
            <app-action-row
              icon="zone"
              [titel]="'eintragen.zone' | t"
              [unter]="'eintragen.zoneUnter' | t"
              (auswahl)="beginneZone()"
            />
          </app-action-sheet>
          <app-action-bar [geist]="'eintragen.abbrechen' | t" (geistKlick)="abbrechen()" />
        </app-sheet>
      }
      @case ('fundOrt') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'melden.ortTitel' | t"
          [rasten]="rastenInhalt"
        >
          <div class="eintragen__kurz">
            <h2 class="eintragen__titel">{{ 'melden.ortTitel' | t }}</h2>
            <app-note variante="unter">{{ 'melden.ortAnleitung' | t }}</app-note>
          </div>
          <app-action-bar
            [haupt]="'melden.ortUebernehmen' | t"
            [geist]="'eintragen.abbrechen' | t"
            (hauptKlick)="uebernimmOrt()"
            (geistKlick)="abbrechen()"
          />
        </app-sheet>
      }
      @case ('markerOrt') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'marker.ortTitel' | t"
          [rasten]="rastenInhalt"
        >
          <div class="eintragen__kurz">
            <h2 class="eintragen__titel">{{ 'marker.ortTitel' | t }}</h2>
            <app-note variante="unter">{{ 'marker.ortAnleitung' | t }}</app-note>
          </div>
          <app-action-bar
            [haupt]="'marker.ortUebernehmen' | t"
            [geist]="'eintragen.abbrechen' | t"
            (hauptKlick)="uebernimmOrt()"
            (geistKlick)="abbrechen()"
          />
        </app-sheet>
      }
      @case ('zoneZeichnen') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'zone.zeichnenTitel' | t"
          [rasten]="rastenInhalt"
        >
          <div class="eintragen__kurz">
            <h2 class="eintragen__titel">{{ 'zone.zeichnenTitel' | t }}</h2>
            <app-note variante="unter">{{ zeichenAnleitung() }}</app-note>
          </div>
          <app-action-bar
            [haupt]="'zone.eckpunktSetzen' | t"
            [zweite]="'zone.letztenEntfernen' | t"
            [sekundaer]="'zone.abschliessen' | t"
            [geist]="'eintragen.abbrechen' | t"
            (hauptKlick)="setzeEckpunkt()"
            (zweiteKlick)="entferneEckpunkt()"
            (sekundaerKlick)="schliesseZone()"
            (geistKlick)="abbrechen()"
          />
        </app-sheet>
      }
      @case ('fundFormular') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'melden.blatt' | t"
          [rasten]="rastenFormular"
          [modal]="true"
        >
          <app-fund-formular
            [ort]="zustand.ort()!"
            [titel]="'melden.titel' | t"
            [hauptText]="'eintragen.speichern' | t"
            [beschaeftigt]="speichert()"
            (absenden)="speichereFund($event)"
            (abbruch)="abbrechen()"
          />
        </app-sheet>
      }
      @case ('markerFormular') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'marker.blatt' | t"
          [rasten]="rastenFormular"
          [modal]="true"
        >
          <div class="eintragen__inhalt">
            <h2 class="eintragen__titel">{{ 'marker.titel' | t }}</h2>
            <app-objekt-formular
              [nameLabel]="'marker.name' | t"
              [namePlatzhalter]="'marker.namePlatzhalter' | t"
              [nameFehltText]="'marker.nameFehlt' | t"
            />
            <app-note>{{ 'melden.hinweis' | t }}</app-note>
          </div>
          <app-action-bar
            [haupt]="'eintragen.speichern' | t"
            [hauptDeaktiviert]="speichert()"
            [geist]="'eintragen.abbrechen' | t"
            (hauptKlick)="speichereMarker()"
            (geistKlick)="abbrechen()"
          />
        </app-sheet>
      }
      @case ('zoneFormular') {
        <app-sheet
          appBlattHoehe
          class="eintragen__blatt"
          [beschriftung]="'zone.blatt' | t"
          [rasten]="rastenFormular"
          [modal]="true"
        >
          <div class="eintragen__inhalt">
            <div class="eintragen__kopf">
              <h2 class="eintragen__titel">{{ 'zone.titel' | t }}</h2>
              <app-note variante="unter">{{ flaecheText() }}</app-note>
            </div>
            <app-objekt-formular
              [nameLabel]="'zone.name' | t"
              [namePlatzhalter]="'zone.namePlatzhalter' | t"
              [nameFehltText]="'zone.nameFehlt' | t"
              (werteChange)="beiZonenWerten($event)"
            />
            <app-note>{{ 'melden.hinweis' | t }}</app-note>
          </div>
          <app-action-bar
            [haupt]="'eintragen.speichern' | t"
            [hauptDeaktiviert]="speichert()"
            [geist]="'eintragen.abbrechen' | t"
            (hauptKlick)="speichereZone()"
            (geistKlick)="abbrechen()"
          />
        </app-sheet>
      }
    }
  </div>
}
