@if (artWahlOffen()) {
  <div class="melden__inhalt">
    <h2 class="melden__titel">{{ 'melden.artWaehlen' | t }}</h2>
    <app-art-wahl [gewaehlt]="gewaehlteArt()?.slug ?? null" (auswahl)="waehleArt($event)" />
  </div>
  <app-action-bar [geist]="'eintragen.abbrechen' | t" (geistKlick)="artWahlOffen.set(false)" />
} @else {
  <div class="melden__inhalt">
    <div class="melden__kopf">
      <h2 class="melden__titel">{{ titel() }}</h2>
      <app-note variante="unter">{{ ortZeile() }}</app-note>
    </div>
    <app-form-field
      [label]="'melden.art' | t"
      [wert]="artName()"
      [platzhalter]="'melden.artWaehlen' | t"
      [nurAnzeige]="true"
      (anzeigeKlick)="artWahlOffen.set(true)"
    />
    <div class="melden__paar">
      <app-form-field
        typ="date"
        [label]="'melden.datum' | t"
        [wert]="datum()"
        (wertChange)="setzeDatum($event)"
      />
      <app-form-field
        typ="number"
        [label]="'melden.anzahl' | t"
        [platzhalter]="'melden.optional' | t"
        [wert]="anzahl()"
        (wertChange)="setzeAnzahl($event)"
      />
    </div>
    <app-form-field
      [label]="'melden.notiz' | t"
      [mehrzeilig]="true"
      [platzhalter]="'melden.optional' | t"
      [wert]="notiz()"
      (wertChange)="setzeNotiz($event)"
    />
    @if (mitFotos()) {
      <div>
        <p class="melden__label">{{ 'melden.fotos' | t }}</p>
        <app-foto-wahl [dateien]="fotos()" (dateienChange)="fotos.set($event)" />
      </div>
    }
    <div>
      <p class="melden__label">{{ 'sichtbarkeit.beschriftung' | t }}</p>
      <app-segmented
        [optionen]="segmente()"
        [wert]="sichtbarkeit()"
        [beschriftung]="'sichtbarkeit.beschriftung' | t"
        (wertChange)="setzeSichtbarkeit($event)"
      />
    </div>
    <app-note>{{ 'melden.hinweis' | t }}</app-note>
  </div>
  <app-action-bar
    [haupt]="hauptText()"
    [hauptDeaktiviert]="beschaeftigt()"
    [geist]="'eintragen.abbrechen' | t"
    (hauptKlick)="absende()"
    (geistKlick)="abbruch.emit()"
  />
}
