@if (!ohneName()) {
  <app-form-field
    [label]="nameLabel()"
    [platzhalter]="namePlatzhalter()"
    [wert]="nameWert()"
    (wertChange)="setzeName($event)"
  />
}
<div>
  <p class="objekt__label">{{ 'farben.beschriftung' | t }}</p>
  <app-color-swatches
    [farben]="farben()"
    [wert]="farbeHexWert()"
    [beschriftung]="'farben.beschriftung' | t"
    (wertChange)="setzeFarbe($event)"
  />
</div>
<div>
  <p class="objekt__label">{{ 'sichtbarkeit.beschriftung' | t }}</p>
  <app-segmented
    [optionen]="segmente()"
    [wert]="sichtbarkeitWert()"
    [beschriftung]="'sichtbarkeit.beschriftung' | t"
    (wertChange)="setzeSichtbarkeit($event)"
  />
</div>
<app-form-field
  [label]="'melden.notiz' | t"
  [mehrzeilig]="true"
  [platzhalter]="'melden.optional' | t"
  [wert]="notizWert()"
  (wertChange)="setzeNotiz($event)"
/>
