:host {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  overflow: hidden;
}

.roles {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  padding: var(--pilz-gutter);
  overflow-y: auto;
}

.roles__trail {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--color-text-muted);
}
