<div class="schieber">
  <span class="schieber__spur"></span>
  <span
    class="schieber__gewaehlt"
    [style.inset-inline-start]="vonAnteil()"
    [style.inset-inline-end]="'calc(100% - ' + bisAnteil() + ')'"
  ></span>
  @if (zeigtVon()) {
    <input
      class="schieber__griff"
      type="range"
      [attr.aria-label]="text('schieber.untereGrenze')"
      [min]="min()"
      [max]="max()"
      [step]="schritt()"
      [value]="von()"
      (input)="beiVon($event)"
    />
  }
  @if (zeigtBis()) {
    <input
      class="schieber__griff"
      type="range"
      [attr.aria-label]="text('schieber.obereGrenze')"
      [min]="min()"
      [max]="max()"
      [step]="schritt()"
      [value]="bis()"
      (input)="beiBis($event)"
    />
  }
</div>
