<button
  #button
  class="speciesrow"
  type="button"
  [class.speciesrow--active]="active()"
  [attr.aria-current]="active() ? 'true' : null"
  (click)="chosen.emit()"
>
  <span class="speciesrow__name">{{ name() }}</span>
  <span class="speciesrow__curve"><ng-content select="[curve]" /></span>
  <span class="speciesrow__latin">{{ latin() }}</span>
  <span class="speciesrow__tags">
    @if (active()) {
      <span class="speciesrow__badge">{{ activeText() }}</span>
    }
    <ng-content select="[tags]" />
  </span>
</button>
