:host {
  display: inline-flex;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  inline-size: var(--image-tile-width, var(--size-tile));
}

.tile__image {
  display: block;
  inline-size: var(--image-tile-width, var(--size-tile));
  block-size: var(--image-tile-height, var(--size-tile));
}

.tile__badge {
  position: absolute;
  inset-block-start: var(--space-2);
  inset-inline-start: var(--space-2);
}

.tile__credit {
  --image-credit-size: 13px;
  --image-credit-line: 1.4;

  margin: 0;
}
