<ng-template #content>
  <span class="row__lead"><ng-content select="[lead]" /></span>
  <span class="row__stack">
    <span class="row__title">{{ titel() }}</span>
    @if (subline()) {
      <span class="row__sub">{{ subline() }}</span>
    }
    @if (notiz()) {
      <span class="row__note">{{ notiz() }}</span>
    }
  </span>
  @if (value()) {
    <span class="row__value">{{ value() }}</span>
  }
  <span class="row__trail"><ng-content select="[trail]" /></span>
</ng-template>

@if (clickable()) {
  <button
    class="row row--button"
    type="button"
    [attr.aria-pressed]="selected() ? true : null"
    (click)="chosen.emit()"
  >
    <ng-container [ngTemplateOutlet]="content" />
  </button>
} @else {
  <div class="row">
    <ng-container [ngTemplateOutlet]="content" />
  </div>
}
