:host {
  display: inline-flex;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--pilz-avatar-size);
  block-size: var(--pilz-avatar-size);
  font-weight: var(--fw-semibold);
  color: var(--color-primary);
  cursor: pointer;
  background: var(--color-surface);
  border: var(--border-width) solid var(--color-border);
  border-radius: 50%;
  box-shadow: var(--shadow-sm);
}
